* {
    box-sizing: border-box;
}

body {
    background: #EFEFF2;
    margin: 0;
    color:#19191C;
    font: 400 18px/28px Inter, sans-serif;
            
}

.container {
    width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 0;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color:#19191C;
    text-decoration: none;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.link {
    color: #19191C;
    text-decoration: none;
}

.btn__box{
    display: flex;
    gap: 48px;
    align-items: center;
}

.header__link {
    color: #19191C;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.header__btn {
    background-color: #19191C;
    color: #EFEFF2;
    padding: 12px 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.offer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 230px;
    
    overflow: hidden;
    min-height: 1000px;
    margin: 0 auto;
    
}

p {
    margin: 0;
}

.offer__holder {
    width: 648px;
    padding-top: 167px; 
    
}

.offer__months {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.offer_hr {
    width: 84px;            /* Довжина палички */
    height: 4px;            /* Товщина палички */
    background-color: #504DEE; /* Синій колір */
    border: none;
    margin: 8px 0 0;
}

.offer__profession {
    margin-top: 40px;
}

.offer__title {
    font-size: 58px;
    line-height: 70px;
    margin-top: 2px;
    margin-bottom: 48px;

}

.offer__button {
    background-color: #504DEE;
    color: #FBFBFC;
    margin-top: 50px;
    margin-bottom: 110px;
    padding: 16px 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
}

.offer__sale, .profession__counter-number, .profession__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 100%;
    margin: 0;
}

.offer__time {
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}


.offer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.offer__item  {
    position: absolute;
    border: 2px solid #19191C;
    padding: 16px 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;

}

.offer__1 {
    
    top: 230px;
    right: 0px;
}

.offer__2 {
    top: 160px;
    right: 223px;
}

.offer__3 {
    top: 240px;
    right: 487px;
}

.offer__4 {
    top: 422px;
    right: 467px;
}

.offer__5 {
    top: 559px;
    right: 677px;
}

.offer__6 {
    top: 736px;
    right: 609px;
}

.profession, .discover {
    background: #FBFBFC;
}

.profession__upper-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 168px;
    justify-content: space-between;
    align-items: first baseline;
}

.profession__description {
    color: #6D6D77;
    margin-top: 28px;
}

.profession__counter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 103px;
}

.profession__counter-hr {
    height: 4px; 
    background-color: #19191C;
    border: none;
    margin: 21px 0 18px;
    width: 200px;
}

.profession__counter-text {
    color: #6D6D77;
}

.profession__blocks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 168px 0 0;
}

.profession__block-base {
    padding: 68px 50px;
}

.profession__block-base1 {
    background: #DEEFE4;
}

.profession__block-base2 {
    background: #F3F3D7;
}
.profession__block-base3 {
    background: #EFDEEE;
}

.profession__block-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    margin: 0;
}

.profession__block-hr {
    height: 4px; 
    background-color: #19191C;
    border: none;
    margin: 28px 0 12px;
    width: 360px;
}

.discover__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 100%;
    margin: 0 30px;
    padding-top: 170px; /*під питанням*/
    
}

.discover__blocks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: first baseline;
    color: #FBFBFC;
    padding: 100px 0 168px;
    margin: 0;
}

.discover__block-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    margin:0;

}

.discover__block-list {
    list-style: square;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
}

.discover__block-base {
    width: 467px;
    height: 732px;
    padding: 48px 0 51px 68px;
    display: flex;
    flex-direction: column; 
    align-items:start;
    justify-content:space-between;
}

.discover__block-base1, .discover__block-base3 {
    background: #DEEFE4;
    color: #19191C;
}

.discover__block-base2 {
    background: #504DEE;
    color: #FBFBFC;
}

.discover__price-total {
    color: #6D6D77;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin:0;
}

.discover__block-base2 .discover__price-total {
    color: #FBFBFC;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin:0;
}

.discover__price-monthly {
    font-weight: 700;
    font-size: 58px;
    line-height: 100%;
    margin: 3px 0 18px;
}

.discover__choose {
    font-weight: 700;
    font-size: 24px;
    background-color: #19191C;
    color: #FBFBFC;
    line-height: 26px;
    padding: 16px 36px;
    
}

.discover__block-base2 .discover__choose {
    background-color: #FBFBFC;
    color: #504DEE;      
}

.footer {
    background: #19191C;
    display: flex;
    flex-direction: column;
}


.footer__up {
    background: #19191C;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    
    padding-top: 68px;    
    padding-bottom: 100px;
    align-items: baseline;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 48px;    
}

.contact__logo .contact__link {
    display: inline-flex;
    align-items: center;
    gap: 12px; 
      
}

.contacts__bottom {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.sitemap {
    display: flex;
    flex-direction: column;

    
    color: #EFEFF2;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #6D6D77;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin: 0 0 60px;
    
}



.sitemap__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 12px;
    margin-top: 0;
    list-style-type: none;
}

.sitemap__links, .contact__link, .copyright__link {
    text-decoration: none;
    color: inherit;
}

.contact__link {
    color: #FBFBFC;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    

}

.sitemap__caption {
    color: #FBFBFC;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 28px;
    line-height: 100%;

}

.sitemap__links {
    
    color: #EFEFF2;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

}

.profession__container {
    flex-wrap: wrap;
}

@media screen and (max-width: 1439px) {
    
    .container {
        width: 100%;
        max-width: none;
    }
    body br {
        display: none;
    }

    .header {
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    

    .offer {
        min-height: 1600px;
    }

    .offer__holder {
        padding-right: 70px;
    }

    .offer__item {
        transform: translateY(700px);
    }

    .offer__1 {
        transform: translateY(600px);
    }

    .offer__5, .offer__6 {
        transform: translate(100px, 700px);
        
    }

    .offer__4{
        transform: translate(10px, 650px);
        
    }

    .offer__images > img {
    
        bottom: -830px !important; 
    }
    
    .discover__block-base {
        margin: 0 auto 30px;
    }
    .discover__blocks {
        padding-top: 50px;
        flex-direction: column;
    }

    .footer {
        justify-content: space-around;
    }

    
    .footer__up {
        padding-left: 0;
        row-gap: 40px;
        flex-wrap: wrap;
        margin: 0 0px;
        justify-content: space-around;
        align-items: start;
    }


     .copyright {
        padding-left: 0;
        row-gap: 40px;
        flex-wrap: wrap;
        margin: 0 0 50px;
        align-items: start;
    }


    .sitemap, .contacts {
        margin: 0 20px;
        
    }

    .contacts {
        flex: 1 1 100%;
        margin-bottom: 30px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .profession__blocks {
        flex-wrap: wrap;
    }

    .profession__description {
        margin: 40px 0;
    }
}

@media screen and (max-width: 590px) {


    .header__box {
        margin-bottom:-20px;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn__box {
        gap: 20px;
        justify-content: center;
    }
    .nav__list {
        gap: 10px;
    }

    .offer {
        min-height: 600px;
        padding-bottom: 50px;
    }

    .offer__description {
        width: 90%;
    }

    .offer__button {
        margin: 20px 0 30px;
        
    }

    .offer__holder {
        padding-top: 37px;
        padding-right: 300px;
    }

    .offer__list, .offer__images > img {
        display: none;
    }
    
    

    .footer__up {
        width: 100%;
    }

    .sitemap {
        flex: 0 0 50%;
        max-width: 200px;
    }

    .discover__blocks {
        padding-bottom: 50px;
        
    }

    .discover__block-base {
        width: 100%;
        padding-left: 40px;
    }
    .discover__block-list {
        width: 90%;
    }

    .discover__title {
        margin: 0;
        padding-top: 50px;
    }

    .profession__blocks {
        margin-top: 50px;
        justify-content: space-around;
    }

    .profession__block-base {
        width: 100%;
    }

    .profession__block-hr {
        width: 90%;
    }

    .profession__upper-row {
        padding-top: 20px;
    }

    .profession__counter {
        justify-content: space-around;
        gap: 30px;
    }

    .profession__counter-text {
        width: 200px;
    }

    .profession__description, .offer__description,
    .profession__block-text {
        text-align: justify;
    }
    
    .copyright {
        padding: 0;
        margin-bottom: 40px;
        
    }
    
}

button {
    border: none;
    letter-spacing: 6%;
    font-style: Bold;
}
